# Auto detect text files and perform LF normalization
* text=auto

# Source code
*.c     text eol=lf
*.cpp   text eol=lf
*.h     text eol=lf
*.java  text eol=lf
*.py    text eol=lf
*.rs    text eol=lf
*.sh    text eol=lf

# LLVM IR / TableGen
*.ll    text eol=lf linguist-detectable=true linguist-language=LLVM
*.td    text eol=lf linguist-detectable=true linguist-language=TableGen

# Docs / config
*.md    text eol=lf
*.txt   text eol=lf

# Binaries
*.o     binary
*.a     binary
*.so    binary
fact    binary
