# Auto detect text files and perform LF normalization
* text=auto

# Force Linguist to include everything in examples/
examples/**  linguist-vendored=false

# LLVM IR / TableGen need explicit language hints
*.ll    linguist-detectable=true linguist-language=LLVM
*.td    linguist-detectable=true linguist-language=TableGen

# Docs stay out of language stats
*.md    linguist-documentation=true
*.txt   linguist-documentation=true

# Binaries
*.o     binary
*.a     binary
*.so    binary
fact    binary
